* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    background-color: #263238;
}

/* Gamebox aka sea */

#sea {
    /*800x600 [4:3]*/
    display: flex;
    flex: none;
    width: 800px;
    height: 600px;
    box-sizing: content-box;
    position: relative;
    border: 10px solid;
    background-color: #182838;
    background: linear-gradient(to top left, #123, #234);
}

/* Start screen */

.start-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, .2)
}

.start-screen::before {
    content: 'Press any key to continue';
    position: absolute;
    left: 50%;
    top: 50%;
    color: #ccc;
    font-size: 3em;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    animation: blink 2s infinite ease-in-out;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Nickname screen */

.nickname-screen {
    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #663300;
    box-shadow: .5em .5em .5em;
}

.nickname-screen .wrapper {
    padding: 5em;
    background-color: #4e2700;
}

.nickname-screen h2 {
    margin-bottom: 1em;
    color: #fb8;
    font-size: 2em;
    text-shadow: .1em .1em .1em #000;
}

.nickname-screen input {
    display: block;
    margin: 0 auto 1em;
    width: 70%;
    outline: none;
    border: none;
    padding: .5em 1em;
    font-size: 1.2em;
    text-align: center;
    box-shadow: .1em .1em .1em .1em;
}

.nickname-screen .error-message {
    display: none;
    margin-bottom: 1em;
    color: #f00;
    text-align: center;
    text-shadow: .1em .1em .1em #000;
}

.nickname-screen .error-message.visible {
    display: block;
}

.nickname-screen .play-button {
    width: fit-content;
    margin: 0 auto;
    padding: .5em 2em;
    justify-content: center;
    background: #ffa;
    align-items: center;
    cursor: pointer;
    box-shadow: .1em .1em .1em #000;
}

.nickname-screen .play-button::before {
    content: 'Play';
    color: #880;
    font-weight: bold;
}

.nickname-screen .play-button:hover {
    transform: scale(1.1);
    box-shadow: .3em .3em .3em #000;
}

.nickname-screen .play-button:active {
    transform: scale(1);
}

.nickname-screen .play-button.loading {
    pointer-events: none;
}

.nickname-screen .play-button.loading::before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border: .2em solid;
    border-color: #880 #880 transparent transparent;
    border-radius: 50%;
    animation: spin .5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/* Aside Panel */

.aside-panel {
    width: 200px;
    height: 600px;
    position: absolute;
    top: 0;
    right: -210px;
    border: 10px solid #741;
    border-left: none;
    background-color: #a74;
    user-select: none;
}

.aside-panel div {
    height: 100px
}

/* Info */
.aside-panel .info {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fed;
}

.aside-panel .info ul {
    padding-left: 2px;
    font-size: 12px;
    white-space: nowrap;
    list-style-type: none;
    overflow: hidden;
}

.aside-panel .info li {
    height: 20px;
    line-height: 20px;
}

.aside-panel .info li.fade {
    color: #765;
}

/* Scrollable */
.aside-panel .scrollable ul {
    position: relative;
    top: -20px;
    max-height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
}

.aside-panel .scrollable li {
    height: 20px;
    line-height: 20px;
    padding-left: 2px;
    font-size: 12px;
}

/* Ranking */
.aside-panel .ranking {
    height: 100px;
    padding-top: 20px;
}

.aside-panel .ranking::before {
    content: 'RANKING';
    position: relative;
    top: -20px;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #a74;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #741;
}

.aside-panel .ranking li div {
    display: inline-block;
    height: 20px;
    float: left;
    overflow: hidden;
}

.aside-panel .ranking .name {
    width: calc(100% - 2em);
}

.aside-panel .ranking .score {
    width: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2)
}

/* Spectators */
.aside-panel .spectators {
    height: 100px;
    padding-top: 20px;
}

.aside-panel .spectators::before {
    content: 'SPECTATORS';
    position: relative;
    top: -20px;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #a74;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #741;
}

.aside-panel .spectators li {
    color: #fc9;
}

.aside-panel .spectators li.fade {
    background-color: rgba(0, 0, 0, 0.2)
}

/* Buttons */
.aside-panel .btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #741;
}

.aside-panel .btn div {
    width: fit-content;
    padding: 0 2em;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #880;
    font-weight: bold;
    background-color: #ffa;
    cursor: pointer;
    box-shadow: 0.1em 0.1em 0.1em #000;
}

.aside-panel .btn div:hover {
    transform: scale(1.1);
    box-shadow: .3em .3em .3em #000;
}

.aside-panel .btn div:active {
    transform: scale(1);
}

.aside-panel .btn div.disabled {
    background-color: #777;
    color: #444;
    pointer-events: none;
}

/* Speedometer */
.aside-panel .speed {
    height: 40px;
}

.aside-panel .speed .inner {
    background-color: #9acbde;
}

/* Compass */
.aside-panel .compass {
    height: 160px;
    background-color: #487418;
}

/* Hitpoints */
.aside-panel .hp {
    height: 40px;
}

.aside-panel .hp .inner {
    background-color: #01b003;
}

/* Firepower */
.aside-panel .fp {
    height: 40px;
}

.aside-panel .fp .inner {
    background-color: #000;
}

/* Progress */
.aside-panel .progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-panel .progress .outer {
    width: 80%;
    height: 20px;
    background-color: #963;
    border: 2px solid #963;
    overflow: hidden;
}

.aside-panel .progress .inner {
    height: 100%;
}

/* Ships */

.ship {
    font-size: 25px;
    width: 2em;
    height: 1em;
    position: absolute;
    background-color: #808080;
    /*border-radius: 25% 50% 50% 25%;*/
    transform: translate(-50%, -50%);
}

.ship::before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: -1em;
    background-color: inherit;
    border-radius: 50% 0 0 50%;

}

.ship::after {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    right: -1em;
    background-color: inherit;
    border-radius: 0 50% 50% 0;
}

/* Cannonballs */
.cannonball {
    box-sizing: border-box;
    font-size: 25px;
    width: 1em;
    height: 1em;
    position: absolute;
    background-color: #220;
    border: 5px solid #000;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}